header nav div ul li {
  font-family: "Anek Telugu", sans-serif;
  font-weight: 400;
}

/* .main__principal__texto-titulo {
  color: black;
  font-size: 2.5rem;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 400;
  top: 280px;
  left: 400px;
  
}
.main__principal__texto-parrafos {
  color: #692c2c;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 350px;
  left: 120px;
  text-align: center;
} */